<%- include('../partials/header') %>
<h1><%=title%></h1>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd3dhD_z8xHMczN3LYQYSOoChMGbsapbQByw&usqp=CAU" alt="About Page" width="auto" height="auto">
<p>UX/UI is something I wanted to do with my career</p>

    <%- include('../partials/footer') %>