<%- include('../partials/header') %>
<h1><%=title%></h1>
 
<img src="https://static.boredpanda.com/blog/wp-content/uploads/2016/11/studio-ghibli-inspired-fan-art-paintings-oil-watercolor-1-5832aa0d3b58f__880.jpg" alt="Art Page" width="auto" height="auto">
<p>Art is something I've always enjoy doing</p>
    <%- include('../partials/footer') %>