<%- include('../partials/header') %>
<h1><%=title%></h1>
 
<img src="https://idsb.tmgrup.com.tr/ly/uploads/images/2021/05/26/117393.jpg" alt="Home Page" width="280" height="280">
<p>My Name is Trieu. Please check out some of my hobbies and interest</p>
    <%- include('../partials/footer') %>